* {
    padding: 0;
    margin: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
}

.container {
    position: relative;
    top: 200px;
    color: white;
}

.Iam {
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Iam b {
    overflow: hidden;
    position: relative;
    height: 50px;
}

.Iam .title {
    color: white;
    position: relative;
}

.Iam .innerIam {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    /*animation*/
    -webkit-animation: move 5s;
    -moz-animation: move 5s;
    -ms-animation: move 5s;
    -o-animation: move 5s;
    animation: move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

@-webkit-keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

@-moz-keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

@-o-keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

@keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

.btn-light {
    color: white;
    border-color: #f8f9fa
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5
}

.btn {
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


/* vista css */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 0 1px 1px rgb(29 17 51 / 4%), 0 0 3px 2px rgb(9 32 77 / 12%), 0 0 2px -3px rgb(29 17 51 / 12%);
}

.nav-enlace {
    display: flex;
    justify-content: end;
}

.nav-a {
    margin-left: 20px;
}

.nav-a a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(105, 104, 104);
}

.nav-a :hover {
    color: lightseagreen;
    text-decoration: underline;
}

.logo img {
    width: 30px;
    height: 30px;
}


/* card */

.card-contenedor {
    position: relative;
    top: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    align-self: center;
    flex-wrap: wrap;
}

.img-lenguaje {
    width: 30vh;
    height: 20vh;
}

.card {
    box-shadow: 0 0 1px 1px #e5e5e5;
    border-radius: 20px;
    padding: 20px;
}

.card-title {
    color: rgb(58, 54, 54);
    text-align: center;
    margin-top: 30px;
}

.card-p {
    text-align: center;
    color: rgb(58, 54, 54);
    margin-top: 10px;
}

.card-btn {
    display: flex;
    justify-content: center;
}

.card-boton a {
    text-decoration: none;
    color: rgb(4, 87, 221);
    font-weight: 500;
}

.card-boton {
    background-color: white;
    border: 1px solid rgb(4, 87, 221);
    font-size: 15px;
    border-radius: 5px;
    margin: 20px 2px;
}

.card-boton :hover {
    background-color: rgb(4, 87, 221);
    color: #e2e6ea;
}

footer {
    padding: 40px 0px;
    background-color: #000;
    color: white;
    position: relative;
    top: 50vh;
    display: grid;
    grid-template-areas: "comunidad ayuda seguir" "privacidad privacidad privacidad ";
    justify-items: center;
    gap: 20px;
}

.footer-anclas a {
    display: block;
    color: rgba(223, 217, 217, 0.815);
    padding-bottom: 5px;
}

.footer-p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.comunidad {
    grid-area: comunidad;
}

.ayuda {
    grid-area: ayuda;
}

.seguir {
    grid-area: seguir;
}

.privacidad {
    grid-area: privacidad;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.privacidad a {
    color: lightseagreen;
    padding-left: 5px;
}

.privacidad p {
    margin-bottom: 10px;
}

@media only screen and (max-width: 1072px) {
    .card-contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 428px) {
    footer {
        display: grid;
        grid-template-areas: "comunidad ayuda" "privacidad privacidad  "" seguir  seguir ";
        justify-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 358px) {
    footer {
        display: grid;
        grid-template-areas: "comunidad " "ayuda""privacidad  "" seguir ";
        text-align: center;
        justify-items: center;
    }
}